html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 10px;
}

#main-div {
    height: 98%;
    padding-bottom: 0;
}

footer {
    bottom: 10px;
    position: absolute;
    width: 100%;
}